<% include ../partials/header %>

<header class="jumbotron" >
    <div class="container">
        <h1>Welcome to Geltcard</h1>
        <p>See people's personal opinions on popular modern GPU products</p>
        <p>
            <a id="trans" class="btn btn-medium btn-primary" href="/cards/new">Add New GPU Product</a>
        </p> 
    </div>
</header>

<div class="container-fluid">    
  <div class="row text-center">
    <div class="container">
      <% cards.forEach(function(card){ %>
        <div class="col-md-3 col-sm-6">
          <div id="trans" class="thumbnail">
            <img src="<%=card.image%>">
              <div class="caption">
                <p><a href="/cards/<%=card._id%>"><%=card.name%></a></p>
              </div>
          </div>    
        </div>
      <% }) %>
    </div>
  </div>
</div>








<% include ../partials/footer %>